	{{!-- TODO which routing calls layout/header so I can pass it some variables -->
 start here:  https://stackoverflow.com/questions/25095991/how-to-set-a-variable-for-the-main-handlebars-layout-without-passing-it-to-everya -->

<script src="https://cdn.jsdelivr.net/npm/roddeh-i18n@1.2.0/dist/i18n.min.js"></script>
<script src="https://rawgit.com/components/handlebars.js/master/handlebars.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<label><input type="radio" name="lang" value="en"> English</label><br>
<label><input type="radio" name="lang" value="tr"> Turkish</label><br>
<label><input type="radio" name="lang" value="jp"> Japanese</label>
//i18n.setLocale("tr");

<div id="target-message"></div>
<script id="atemplate" type="text/x-handlebars-template">
  <p>
    { { {__ 'Hello'}}}<br>
    { { {i18 'Do you want to continue?'}}} { { {I18n 'Yes'}}}<br>
    { { {i18 'Don\'t worry %{name}' . }}}<br>
    { { {i18 'It is %n' count}}}<br>
    { { {__ '%{name} uploaded %n photos to their %{album} album' count . .}}}
  </p>
</script>

v/p/header isOp: {{isOP}}
--}}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                
	    <P>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mobilemenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                &nbsp; &nbsp; &nbsp; <ximg src="/images/avocado3.png">
                <a href="/dashboard" class="navbar-brand"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Avakado10</a>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-outline-secondary" href="/dashboard" role="button">{{Firm}}</a>
                <a class="btn btn-outline-secondary" href="/dashboard/staic" role="button">{{{i18 "Static Values"}}}</a>
                <a class="btn btn-outline-secondary" href="#" role="button">{{{i18 "Locations"}}}</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <form action="/search_action/" method="post">
                    <input type="text" name="newtask" placeholder={{{i18 "Search"}}}>
                    <button type="submit" class="btn btn-primary btn-xs">{{{i18 "Search"}}}</button>
                </form>
                &nbsp; &nbsp; &nbsp; 
                <button type="submit" class="btn btn-success btn-xs">{{{i18 "Add New"}}}</button>
                <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="mobilemenu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i> "{{{i18 "Static Values"}}}" <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <H2>x{{this.Admin}}x</H2>
                            {{# if Admin }}
                            <li><a href="/firm/company">{{{i18 "my Profile"}}}</a></li>
                            <li><a href="/firm/location">{{{i18 "Logout"}}}</a></li>
                            <li><a href="/firm/management">{{{i18 "my Orders!!"}}}</a></li>
                            <li><a href="/firm/packages">{{{i18 "my Favorites"}}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/firm/packageTypes">{{{i18 "my Favorites"}}}</a></li>
                            <li><a href="/firm/rejectReasons">{{{i18 "my Likes"}}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/firm/broker">{{{i18 "Following"}}}</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
                &nbsp; &nbsp; &nbsp; 
                <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="mobilemenu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i> "{{{i18 "Sales Flow"}}}" <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{# if Sales }}
                            <li><a href="/sales/lead">{{{i18 "Sign up"}}}</a></li>
                            <li><a href="/sales/contact">{{{i18 "Sign in"}}}</a></li>
                            <li><a href="/sales/contract">{{{i18 "Operator Sign up"}}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/sales/packages">{{{i18 "Operator Sign up"}}}</a></li>
                            <li><a href="/sales/renewals">{{{i18 "Operator Sign up"}}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/sales/renewal_R">{{{i18 "Operator Sign up"}}}</a></li>
                            <li><a href="/sales/notClosed_R">{{{i18 "Operator Sign up"}}}</a></li>
                            <li><a href="/sales/lateCollection_R">{{{i18 "Operator Sign up"}}}</a></li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
                &nbsp; &nbsp; &nbsp; 
                <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="mobilemenu">
                    <li class="nav-item"><a href="/dashboard/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>